
.panel-body .btn {
    margin-top: 20px;
}
.subject-hero {
    background-color: #2860902e;
}

.subject-header {
    padding-bottom: 10px;
    border-bottom: 1px solid dimgrey;
    margin-bottom: 10px;
}
 .subject-header > a {
    text-decoration: none;
}
.img-container {
    position: relative;
}

.subject-img {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 140, 186, 0.51);
}

.img-container:hover .overlay {
    opacity: 1;
}
.hover-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    -ms-transform: translate(-50%, -50%);
}
.overlay span {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rates {
    border: 2px solid grey;
    box-shadow: 0px 1px 4px;
}
.form-container {
    margin-top: 20px;
    border-radius: 20px;
    background-color: #2860902e;

}
form {
    margin: 20px 0;
    padding: 10px;
}
form label {
    color: #777;
    padding-left: 5px;
}
form input[type="submit"], .btn-special {
    background-color: #337ab7bd;
    letter-spacing: 0.2em;
    color: #434343;
}
form input[type="submit"]:hover, .btn-special:hover {
    background-color: #337ab7fa;
}
form textarea {
    resize: none;
}

@media screen and (min-width:768px) {
    .subject-img {
        height: 260px;
    }
    .flute-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}